
.bg-root{
    -fx-background-color: #232323;
}

.bgbg1{
    -fx-background-color: rgba(255, 255, 255, 0.62);
}
.bg-r1{
    -fx-background-color: #202124;
}

.inp-text{
    -fx-background-color:none;
    -fx-border-style: hidden hidden  solid hidden;
    -fx-border-width: 2;
    -fx-border-color: White;
    -fx-text-fill:white;
    -fx-color:white;
}

.inp-text2{
    -fx-background-color:none;
    -fx-border-style: hidden hidden  solid hidden;
    -fx-border-width: 2;
    -fx-border-color:  black;
    -fx-text-fill: rgba(40, 40, 40, 0.94);
    -fx-color:white;
}

.btn-date{
    -fx-background-color: none;
    -fx-text-fill:BLACK;
}
.btn-date:focused{
    -fx-background-color: #CDCDCD;
}
.btn-action{
    -fx-background-color: none;
    -fx-text-fill:BLACK;
    -fx-fill: black;
}
.btn-action:focused{
    -fx-background-color: #CDCDCD;
    -fx-text-fill:BLACK;
    -fx-fill: black;
}

#TBV .table-cell{
    -fx-alignment: center;

}
#TBV .table-view{
    -fx-effect: DropShadow;
}

.table-row-cell:even{
    -fx-background-color: rgba(90, 90, 90, 0.15);
    -fx-text-fill: BLACK;
}
.table-row-cell:odd{
    -fx-background-color: rgba(35, 35, 35, 0.25);
    -fx-text-fill: BLACK;
}
/*.table-row-cell:selected{*/

/*}*/
.table-row-cell:focused{
    -fx-text-fill: white !important;
    -fx-highlight-text-fill: white;
    -fx-background-color: linear-gradient(#6289A3,#496B83);
    /*-fx-text-fill: #DC9134;*/
}

.table-view .column-header-background .label{
    -fx-background-color: white;
    -fx-text-fill: black;
}
.table-row-cell:empty{
    -fx-background-color:none;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: black;
}


.btn-submit{
    -fx-fill: #B6B6B6;
    -fx-background-color:#B6B6B6;
}
.btn-submit:hover {
    -fx-fill: white;
}

.btn-voucher{
    -fx-background-color: #DE9F54;
}
.btn-voucher:hover{
    -fx-background-color: #df4040;
}

.bg2{
    -fx-background-color: linear-gradient(#232526, #414345);;
}
