.list-view{
    /*-fx-background-color: rgba(255, 255, 255, 0.34);*/
    -fx-background-color: none;
    -fx-border-style: solid solid  solid solid;
    -fx-border-width: 2;
    -fx-border-color: White;

}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    /*-fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);*/
    -fx-background-color: rgba(65, 65, 65, 0.4) !important;
    -fx-text-fill: white; /* 5 */
}
.list-cell {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    /*-fx-font-style: White;*/
}
.list-cell:odd { -fx-background-color: rgba(0, 0, 0, 0.21); /* 1 */ }
.list-cell:even { -fx-background-color: rgba(0, 0, 0, 0.16); /* for information */ }
.list-cell:filled:hover {
    -fx-background-color: rgba(206, 206, 206, 0.3); /* 2 */
    -fx-text-fill: black; /* 5 */
}


.btn-date{
    -fx-background-color:#323844;
    -fx-text-fill:white;
}
.btn-time{
    -fx-background-color:#21252B;
    -fx-text-fill:white;
}
.text-date{
    -fx-text-fill:white;
}
